apiVersion: v1
kind: Service
metadata:
  name: nextjs-clusterip-service
  namespace: nextjs-app
spec:
  type: ClusterIP
  selector:
    app: nextjs-deployment
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
    - name: https
      port: 443
      targetPort: 8443
      protocol: TCP
